
body{
	color: black;
	background-image: url("https://mdn.mozillademos.org/files/6457/mdn_logo_only_color.png");
	background-color: black;
	background-color: red;
}
p{
	color: #FE7F88;
	font-family: verdana;
	font-size: 20px;
	background-image: black;
}
