




				background:red;
				color:blue;
				}
			 background: :gray;
			 color:green;
			.greenlink:hover{
			}
		a:hover{
		color: blue;
		text-decoration:none;
		}
	a{
	background-color: orange;
	color: blue;
	}
body{